@using Beskar.CodeAnalytics.Dashboard.Shared.Events.Files
@using Beskar.CodeAnalytics.Data.Entities.Structure
@using Beskar.CodeAnalytics.Data.Syntax

<script type="module" src="@Assets["Components/Source/TokenTextViewer.razor.js"]"></script>

<div 
   class="viewer" 
   @key="@SyntaxFile.FileId">
   @{
      var lineNumber = 1;

      var totalLines = SyntaxFile.Tokens.Count(x => x.IsLineBreak) + 1;
      var gutterWidth = $"{Math.Max(4, totalLines.ToString().Length)}ch";
      
      var tokens = SyntaxFile.Tokens.AsSpan();
      var start = 0;
   }
   @for (var e = 0; e <= tokens.Length; e++)
   {
      if (e == tokens.Length || tokens[e].IsLineBreak)
      {
         var lineSpan = tokens.Slice(start, e - start);
         var isLineHighlighted = HighlightedLineNumbers.Contains(lineNumber);

         <div class="code-line" @key="@((lineNumber, isLineHighlighted))">
            <div class="line-number@(isLineHighlighted ? " hl" : "")" style="--line-number-width: @gutterWidth">
               @lineNumber
            </div>
            <div class="line-content@(isLineHighlighted ? " hl" : "")">
               @for (var index = 0; index < lineSpan.Length; index++)
               {
                  var token = lineSpan[index];
                  var absoluteIndex = start + index;
                  
                  var tokenText = SyntaxFile.GetSpan(token);
                  var className = GetTokenCssClass(token, absoluteIndex);
                  var innerLineNumber = lineNumber;
                  
                  <span class="token @className"
                        @onclick="@(() => OnCodeClick(absoluteIndex, innerLineNumber))"
                        style="color: @GetColor(token);"
                        @key="@((absoluteIndex, className))"
                        data-index="@(absoluteIndex)">
                     @tokenText.ToString()
                  </span>
               }
            </div>
         </div>
         
         lineNumber++;
         start = e + 1;
      }
   }
</div>

@code {
   
   [Parameter, EditorRequired]
   public required SyntaxFile SyntaxFile { get; set; }
   
   [Parameter]
   public EventCallback<TokenClickEvent> TokenClick { get; set; }
   
   [Parameter, EditorRequired]
   public required IEnumerable<HighlightInfo> Highlights { get; set; }
   
   [Parameter]
   public HashSet<int> HighlightedLineNumbers { get; set; } = [];
   
   private readonly Dictionary<int, string> _highlights = [];
   
   protected override void OnParametersSet()
   {
      _highlights.Clear();
      
      foreach (var highlight in Highlights)
      {
         for (var e = 0; e < highlight.Length; e++)
         {
            var index = highlight.Start + e;
            _highlights[index] = highlight.ClassName;
         }
      }
   }

   private async Task OnCodeClick(int index, int lineNumber)
   {
      var token = SyntaxFile.Tokens[index];
      if (!token.HasSymbol) return;
      
      await TokenClick.InvokeAsync(new TokenClickEvent()
      {
         Token = token,
         LineNumber = lineNumber
      });
   }
   
   private string GetTokenCssClass(SyntaxTokenSpec token, int index)
   {
      var before = string.Empty;
      if (_highlights.TryGetValue(index, out var className))
      {
         before = className + " ";
      }
      
      return before + (token switch
      {
         { HasSymbol: true } => "hoverable",
         _ => string.Empty
      });
   }

   private static string GetColor(SyntaxTokenSpec token)
   {
      return SyntaxTheme.GetTokenColor(token);
   }
   
   private static readonly SyntaxColorTheme SyntaxTheme = new DefaultSyntaxColorTheme();

   public class HighlightInfo
   {
      public required int Start { get; init; }
      public required int Length { get; init; }
      
      public required string ClassName { get; init; }
   }
}