@using Beskar.CodeAnalytics.Dashboard.Shared.Events.Files
@using Beskar.CodeAnalytics.Data.Entities.Structure
@using Beskar.CodeAnalytics.Data.Syntax

<script type="module" src="@Assets["Components/Source/TokenTextViewer.razor.js"]"></script>

<div 
   class="viewer" 
   @key="@SyntaxFile.FileId">
   @{
      var lineNumber = 1;

      var totalLines = SyntaxFile.Tokens.Count(x => x.IsLineBreak) + 1;
      var gutterWidth = $"{Math.Max(4, totalLines.ToString().Length)}ch";
      
      var tokens = SyntaxFile.Tokens.AsSpan();
      var start = 0;
   }
   @for (var e = 0; e <= tokens.Length; e++)
   {
      if (e == tokens.Length || tokens[e].IsLineBreak)
      {
         var lineSpan = tokens.Slice(start, e - start);

         <div class="code-line" @key="@lineNumber">
            <div class="line-number" style="--line-number-width: @gutterWidth">@lineNumber</div>
            <div class="line-content">
               @for (var index = 0; index < lineSpan.Length; index++)
               {
                  var token = lineSpan[index];
                  var absoluteIndex = start + index;
                  
                  var tokenText = SyntaxFile.GetSpan(token);
                  
                  <span class="token @GetTokenCssClass(token)"
                        @onclick="@(() => OnCodeClick(absoluteIndex))"
                        style="color: @GetColor(token);"
                        @key="@absoluteIndex"
                        data-index="@(absoluteIndex)">
                     @tokenText.ToString()
                  </span>
               }
            </div>
         </div>
         
         lineNumber++;
         start = e + 1;
      }
   }
</div>

@code {
   
   [Parameter, EditorRequired]
   public required SyntaxFile SyntaxFile { get; set; }
   
   [Parameter]
   public EventCallback<TokenClickEvent> TokenClick { get; set; }
   
   private async Task OnCodeClick(int index)
   {
      var token = SyntaxFile.Tokens[index];
      if (!token.HasSymbol) return;
      
      await TokenClick.InvokeAsync(new TokenClickEvent()
      {
         Token = token
      });
   }
   
   private static string GetTokenCssClass(SyntaxTokenSpec token)
   {
      return token switch
      {
         { HasSymbol: true } => "hoverable",
         _ => string.Empty
      };
   }

   private static string GetColor(SyntaxTokenSpec token)
   {
      return SyntaxTheme.GetTokenColor(token);
   }

   private static readonly SyntaxColorTheme SyntaxTheme = new DefaultSyntaxColorTheme();
}