@inject IConfiguration configuration

@{
   var forceServer = (configuration["RenderMode"] ?? string.Empty) == "Server";
   IComponentRenderMode renderMode = forceServer ? InteractiveServer : InteractiveAuto;
}

<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <base href="/"/>
      <link rel="stylesheet" href="@Assets["app.css"]" />
      <link rel="stylesheet" href="@Assets["CodeAnalytics.Web.styles.css"]" />
      <ImportMap/>
      <HeadOutlet @rendermode="@(renderMode)"/>
   </head>

   <body>
      <Routes @rendermode="@(renderMode)"/>
      
      <ReconnectModal/>
      
      <script src="@Assets["js/helpers.js"]"></script>
      <script src="@Assets["_framework/blazor.web.js"]"></script>
   </body>

</html>