@page "/source"
@using Beskar.CodeAnalytics.Dashboard.Components.Container
@using Beskar.CodeAnalytics.Dashboard.Components.Source
@using Beskar.CodeAnalytics.Dashboard.Components.Source.Right
@using Beskar.CodeAnalytics.Dashboard.Components.Structure.Folders
@using Beskar.CodeAnalytics.Dashboard.Shared.Events.Files
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Services
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Structure
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Syntax
@using Beskar.CodeAnalytics.Dashboard.Shared.Models.Syntax
@using Beskar.CodeAnalytics.Data.Entities.Structure

@inject IFileService FileService
@inject IDatabaseScheduler DatabaseScheduler
@inject ILocationService LocationService

<PageTitle>Source Explorer</PageTitle>

<div style="width: 100%; height: 100%;">
   <ResizableContainer>
      <ResizablePane InitialWidth="20">
         <FolderTree FileOpen="@OnOpenFile"></FolderTree>
      </ResizablePane>
      <ResizablePane InitialWidth="60">
         <VerticalResizableContainer>
            <VerticalResizablePane InitialHeight="80">
               <div class="code">
                  <div class="code-header">
                  </div>
                  @if (_currentFile is not null)
                  {
                     <TokenTextViewer 
                        SyntaxFile="@_currentFile"
                        TokenClick="@OnCodeClick"/>
                  }
               </div>
            </VerticalResizablePane>
            <VerticalResizablePane InitialHeight="20">
               Bottom 2
            </VerticalResizablePane>
         </VerticalResizableContainer>
      </ResizablePane>
      <ResizablePane InitialWidth="20">
         @if (_currentTokenInfo is SourceExplorerTokenInfo info)
         {
            <LocationViewer 
               Title="Symbol Declarations" 
               Locations="@info.Locations.Where(l => l.Location.IsDeclaration).ToArray()"
               LocationNavigate="@OnNavigateLocation" />
            <LocationViewer 
               Title="Symbol Occurrences" 
               Locations="@info.Locations.Where(l => !l.Location.IsDeclaration).ToArray()"
               LocationNavigate="@OnNavigateLocation" />
         }
      </ResizablePane>
   </ResizableContainer>
</div>

@code {

   private SyntaxFile? _currentFile;
   private TokenClickEvent? _lastClickEvent;

   private SourceExplorerTokenInfoBase _currentTokenInfo = new SourceExplorerTokenEmptyInfo();
   
   private async Task OnOpenFile(FileOpenEvent ev)
   {
      await DatabaseScheduler.Schedule(() =>
      {
         _currentFile = FileService.GetFile(ev.FileId);
      });
      
      await InvokeAsync(StateHasChanged);
   }

   private async Task OnNavigateLocation(LocationNavigateEvent ev)
   {
      await DatabaseScheduler.Schedule(() =>
      {
         _currentFile = FileService.GetFile(ev.Location.Location.SourceFileId);
      });
      
      await InvokeAsync(StateHasChanged);
   }
   
   private async Task OnCodeClick(TokenClickEvent ev)
   {
      _lastClickEvent = ev;
      
      await DatabaseScheduler.Schedule(() =>
      {
         _currentTokenInfo = new SourceExplorerTokenInfo()
         {
            Token = ev.Token,
            Locations = LocationService.GetLocations(ev.Token.SymbolId)
         };
      });
      
      await InvokeAsync(StateHasChanged);
   }
}