@using CodeAnalytics.Web.Client.Components.Menus.Bars
@using CodeAnalytics.Web.Client.Models.Search
@using CodeAnalytics.Web.Client.Components.Common.Controls

<div class="search" @onclick:stopPropagation="@true" @onmousedown:stopPropagation="@true">
   <SimpleMenuBar MenuId="@MenuId"></SimpleMenuBar>
   <div class="mode">
      <div class="search-wrapper">
         <div class="header">Mode</div>
         <div class="search-text">
            <InputBox Value="@_searchText" PlaceholderText="Search..." KeyUp="@OnSearchKeyUp" />
         </div>
      </div>
      <div class="modes">
         <a class="selector@(_type is SearchType.Definitions ? " active" : "")"
            @onclick="() => OnSelectType(SearchType.Definitions)">
            Definitions
         </a>
         <a class="selector@(_type is SearchType.Files ? " active" : "")"
            @onclick="() => OnSelectType(SearchType.Files)">
            Files
         </a>
      </div>
   </div>
   <div class="frames">
      @switch (_type)
      {
         case SearchType.Definitions:
            <DefinitionSearch SearchText="@_searchText" SearchUpdated="@OnSearchUpdate"></DefinitionSearch>
            break;
         case SearchType.Files:
            <FileSearch SearchText="@_searchText" SearchUpdated="@OnSearchUpdate"></FileSearch>
            break;
         default:
            <div></div>
            break;
      }
   </div>
</div>

@code {
   
   [Parameter]
   public ulong MenuId { get; set; }

   private SearchType _type = SearchType.Definitions;
   private string? _searchText;

   private void OnSelectType(SearchType type)
   {
      _type = type;
   }

   private Task OnSearchKeyUp(string text)
   {
      _searchText = text;
      return Task.CompletedTask;
   }

   private Task OnSearchUpdate(string? text)
   {
      _searchText = text;
      return Task.CompletedTask;
   }
}