@using CodeAnalytics.Engine.Contracts.Archetypes.Interfaces
@using CodeAnalytics.Engine.Contracts.Ids
@using CodeAnalytics.Engine.Extensions.Internal
@using CodeAnalytics.Engine.Utils
@using CodeAnalytics.Web.Client.Menus
@using CodeAnalytics.Web.Client.Models.Search

@inject NavigationManager NavigationManager
@inject MenuService MenuService

<div class="definition" style="background-color: @(BaseColor + "-5)"); border-color: @(BaseColor + "-20)")">
   <div class="header">
      <div class="type" style="background-color: @(BaseColor + ")");">
         @Archetype.GetDisplayName()
      </div>
      <div class="short-name" title="@Strings[Archetype.SymbolComponent.Name]">
         <span>@Strings[Archetype.SymbolComponent.Name]</span>
      </div>
   </div>
   <div class="path" title="@Strings[Archetype.SymbolComponent.FullPathName]">
      @Strings[Archetype.SymbolComponent.FullPathName]
   </div>
   <div class="locations">
      @foreach (var location in Archetype.SymbolComponent.Declarations)
      {
         <div class="location" title="@(Strings[location.FileId])" @onclick="@(() => OnLocationClick(location))">
            @(Strings[location.FileId])<span>:@(location.SpanIndex)</span>
         </div>
      }
   </div>
</div>

@code {
   
   [Parameter, EditorRequired]
   public required IArchetype Archetype { get; set; }
   
   [Parameter, EditorRequired]
   public required Dictionary<int, string> Strings { get; set; }

   private string BaseColor => ColorUtils.GetBaseColorVariableName(Archetype);

   private void OnLocationClick(FileLocationId file)
   {
      NavigationManager.NavigateTo($"/source/{Strings[file.FileId].Replace('\\', '/').TrimStart('/')}?symbol={file.SpanIndex}");
      MenuService.SetResult<SearchResult>(null);
   }
   
}