@using CodeAnalytics.Engine.Contracts.Archetypes.Interfaces
@using CodeAnalytics.Engine.Extensions.Internal
@using CodeAnalytics.Engine.Utils

<div class="definition" style="background-color: @(BaseColor + "-5)"); border-color: @(BaseColor + "-20)")">
   <div class="header">
      <div class="type" style="background-color: @(BaseColor + ")");">
         @Archetype.GetDisplayName()
      </div>
      <div class="short-name">
         <span>@Strings[Archetype.SymbolComponent.Name]</span>
      </div>
   </div>
   <div class="path">@Strings[Archetype.SymbolComponent.FullPathName]</div>
</div>

@code {
   
   [Parameter, EditorRequired]
   public required IArchetype Archetype { get; set; }
   
   [Parameter, EditorRequired]
   public required Dictionary<int, string> Strings { get; set; }

   private string BaseColor => ColorUtils.GetBaseColorVariableName(Archetype);

}