@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Services
@using Beskar.CodeAnalytics.Dashboard.Shared.Interfaces.Symbols
@using Beskar.CodeAnalytics.Dashboard.Utils
@using Beskar.CodeAnalytics.Data.Enums.Symbols

@inject ISymbolService SymbolService
@inject IDatabaseScheduler Scheduler

<div class="card" style="">
   @switch (_symbolType)
   {
      case SymbolType.NamedType when SymbolId.HasValue:
         <NamedTypeCard SymbolId="@SymbolId.Value" />
         break;
      case SymbolType.Method when SymbolId.HasValue:
         <MethodCard SymbolId="@SymbolId.Value" />
         break;
      case SymbolType.TypeParameter when SymbolId.HasValue:
         <TypeParameterCard SymbolId="@SymbolId.Value" />
         break;
      case SymbolType.Field when SymbolId.HasValue:
         <FieldCard SymbolId="@SymbolId.Value" />
         break;
      case SymbolType.Property when SymbolId.HasValue:
         <PropertyCard SymbolId="@SymbolId.Value" />
         break;
      default:
         if (_symbolType is { IsType: true } && SymbolId.HasValue)
         {
            <TypeCard SymbolId="@SymbolId.Value"/>
            return;
         }
         <div class="text-notice">Select / click on a valid symbol to see information about it here.</div>
         break;
   }
</div>

@code {
   
   [Parameter]
   public uint? SymbolId { get; set; }

   private SymbolType? _symbolType;
   
   private uint _lastSymbolId;
   private bool _fetched;
   
   protected override async Task OnParametersSetAsync()
   {
      if (SymbolId.HasValue && (!_fetched || _lastSymbolId != SymbolId.Value))
      {
         await Scheduler.Schedule(() =>
         {
            _symbolType = SymbolService.GetSymbolType(SymbolId.Value);
         });
         
         _lastSymbolId = SymbolId.Value;
         _fetched = true;
      }
   }

}