@using CodeAnalytics.Engine.Contracts.Occurrences
@using CodeAnalytics.Web.Common.Models.Occurrences

<div class="header">
   <a class="a @(IsOccurrence ? "" : "active")" @onclick="() => OnClick(false)">File Tree</a>
   <a class="a @(IsOccurrence ? "active" : "")" @onclick="() => OnClick(true)">Occurrences</a>
</div>

<Occurrences IsVisible="@IsOccurrence" OccurrenceState="@Occurrence"></Occurrences>
<FileExplorer IsVisible="@(!IsOccurrence)"></FileExplorer>

@code {
   
   [Parameter]
   public bool IsOccurrence { get; set; }
   
   [Parameter]
   public OccurrenceState? Occurrence { get; set; }

   private void OnClick(bool isOccurrence)
   {
      IsOccurrence = isOccurrence;
   }
}